body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* HEADER */
header {
    background: #070000;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 120px;
}

/* INMUEBLES */
.inmuebles {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.casa {
    background: white;
    width: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.casa img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.casa h2 {
    margin: 10px 0;
}

.precio {
    color: green;
    font-weight: bold;
}

.casa a {
    display: block;
    background: #25D366;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.casa a:hover {
    background: #1ebe5b;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #6e774e;
    color: white;
}
.carousel {
    position: relative;
}

.carousel-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 18px;
    padding: 6px 10px;
    cursor: pointer;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}

